<div mat-dialog>
  <div mat-dialog-title>
      {{ classLevel?.id? 'Edit': 'Add' }} Class Level
  </div>
  <div mat-dialog-content>
      <form #form="ngForm" fxLayout="column" (ngSubmit)="save()">
          <div fxLayout="row" fxLayoutGap="10px">
              <div class="fields-container  m-t-5" fxLayout="column" fxFlex="50%">
                  <mat-form-field class="full-width">
                      <input matInput placeholder="Name" name="Name" [(ngModel)]="classLevel.name"
                          required >
                  </mat-form-field>
              </div>
          </div>
      </form>
  </div>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
    <button mat-button [mat-dialog-close]="true">Cancel</button>
    <button mat-button mat-raised-button color="accent" (click)="save()" [disabled]="!form.valid || isProcessing">
      Save
    </button>
  </mat-dialog-actions>
</div>