$header__height: 150px;
$content__header__height: 80px;


:host {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.header {
  display: flex;
  height: $content__header__height;
  min-height: $content__header__height;
  max-height: $content__header__height;;

}

.search-wrapper {
  background: white;

  .sidenav-toggle {
    margin: 0;
    width: 56px;
    height: 56px;
    border-radius: 0;
    border-right: 1px solid rgba(0, 0, 0, .12);
  }

  .search {
    width: 100%;
    height: 56px;
    line-height: 56px;
    padding: 18px;

    input {
      height: 56px;
      padding-left: 16px;
      color: rgba(0, 0, 0, 0.54);
      border: none;
      outline: none;
    }
  }

}