<div fxLayout="column" class="section-container">
  <div class="fix-width">
    <div fxLayout="row">
      <div class="home-logo"><a [routerLink]="['/apps/navigation']">Revenue Sure</a></div>
      <span fxFlex></span>
      <ul class="nav">
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      </ul>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center" class="content">
      <h2 class="text-white">Revenue Sure</h2>
      <h3>S M S</h3>

      <h5>v0.0.1</h5>
    </div>
  </div>
</div>


<footer class="footer m-4">
  <div class="">
    <div fxLayout="row" class="footer-copyright">
      <span>Copyright 2017. All Rights Reserved by stbui Pro</span>
      <span fxFlex></span>
      <span>Design & Developed by <a href="https://github.com/stbui" target="_blank">stbui</a></span>
    </div>
  </div>
</footer>
